<main class="container team-members">
  <section class="row journey mt-5">
    <div class="col">
      <h2 class="mb-3">We're sorry, but something went wrong !</h2>

      <p>No need to fret, though – we're here to assist you in fixing this</p>

      <p>Just shoot an email over to <a href="mailto:legalinnovation@swansea.ac.uk">Legal Innovation Lab Developers</a>, 
      sharing the exact steps that triggered the problem, and they'll work her magic to get it sorted out in no time. </p>

      <p>In the meantime, feel free to explore the rest of the app and enjoy your experience</p>
  </section>
</main>
