<div class="subheading">
  <p><%= @team_member.first_name %> viewed <%= pluralize(@viewed_in_last_week, 'users profile', 'user profiles') %> in the last week and
    <%= pluralize(@viewed_in_last_month, 'users profile', 'user profiles') %> in the last month</p>
</div>