<%= render 'layouts/searchable', class_list: 'user folders', header: 'My Folders', index: 'user_folders',
           stats: render(partial: 'shared/folders/stats'), 
           new_btn: render(partial: 'shared/new_btn') do %>
  <%= render 'shared/folders/modal', folder: @new_folder, action: "create", controller: "folders" %>
  <div class="container p-0">
    <div class="row">
      <div class="col">
        <div class="row card-view">
          <% @resources.each do |folder| %>
            <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center" >
              <%= link_to user_folder_children_path(folder_id: folder.id), class: 'upload-link' do %>
                <%= folder.name%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
