<%= render 'layouts/searchable', class_list: 'container team-members wellbeing-services index', 
    header: 'Wellbeing Services', index: 'wellbeing_services', search: render(partial: 'shared/wellbeing_services/search') do %>
  <%= render 'sort_bar' %>
  <section class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <% @resources.each do |wellbeing_service| %>
                <%= render 'shared/wellbeing_services/card', wellbeing_service: wellbeing_service, user: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>