<section class="row" id="wellbeing-history-chart-wrapper">
    <div class="col">
        <div id="wellbeing-history-chart-carousel" class="carousel slide carousel-dark mobile-hide">
            <select id='metric-select' class="form-select mx-auto" aria-label="Select Wellbeing Metric"></select>
            <div id='chart-carousel-inner'>

            </div>
        </div>
    </div>
</section>

<%= javascript_pack_tag 'analytics_charts' %>