<main class="notification user container p-0">
    <section class="notification-icons">
        <div class='d-flex'>
            <%=render 'notification_icon', favicon: 'fa-envelope', text: 'Messages', path: main_messages_path, method: new_messages_for_user?%>
            <%=render 'notification_icon', favicon: 'fa-file', text: 'Files', path: correct_uploads_path, method: new_uploads_for_user?%>
        </div>
    </section>
    <section class="text-start">
        <h2 class="notification-info-heading">Files</h2>
        <div class="notification-info">
        <% if new_uploads_for_user? %>
            <% unviewed_user_upload_notification.each do |notification|%>
            <p class="mt-3 px-3">
                <%= link_to correct_upload_path(notification.upload), class:"notification-link" do %>
                    <i class="fas fa-file"></i>
                    <span class="px-2"><%= notification.message%></span>
                <% end %>
            </p>
            <%end%>
        <% else%>
            </p>No file notification to show. Click the file button above to view all file.</p>
        <% end%>
        </div>
    </section>
    <section class="text-start">
        <h2 class="notification-info-heading">Messages</h2>
        <div class="notification-info">
            <p class="mt-3 px-3">Click the messages button to view all the messages both new and archived.</p>
        </div>
    </section>
</main>

