<main class="container user journey index">
  <section class="row stats g-3">
    <h3>My Journey</h3>
    <div class="col-12 col-md-4">
      <div class="counter">
        <div data-count="<%= @sessions_streak %>"></div>
        <div>Current Active Streak</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="counter">
        <div data-count="<%= @sessions_count %>"></div>
        <div>Total Active Days</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="counter">
        <div data-count="<%= @achievements_count %>"></div>
        <div>Achievements Earned</div>
      </div>
    </div>
  </section>
</main>
<%= javascript_pack_tag 'journey' %>