
  <div class="input-group">
    <input type="text" class="form-control" id="search-input" placeholder="Search" aria-label="Search">
    <span class="input-group-text" id="search-btn"><i class="fas fa-search"></i></span>
  </div>

<%= javascript_pack_tag 'search' %>
