<section class="container team-member">
<div class="row">
    <div class="col-12 col-md-7 mb-3">
        <div class="card">
            <div class="card-header">Set Up Two Factor Authentication</div>
            <div class="card-body">
                <%=link_to 'Yes', new_two_factor_settings_path, class: "btn btn-success" %>
                <%=link_to 'No', destroy_team_member_session_path, method: :delete, class: "btn btn-warning" %>
            </div>
        </div>
    </div>
</div>
</section>