<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sosModalLabel">New Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @note, url: crisis_event_notes_path(@crisis_event), method: :post do |f| %>
          <div class="mb-2">
            <%= f.text_area :content, class: 'form-control', style: 'height: 150px' %>
          </div>

          <div class="container">
            <div class="row">
              <div class="col text-center">
                <%= f.submit 'Add', class: 'btn btn-primary mt-2' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
