<main class="container team-members wellbeing-assessments new">
  <section class="row">
    <div class="col">
      <h3><%= @user.full_name %></h3>
    </div>
  </section>
  <section class="row" id="wellbeing">
    <div class="col">
      <%= render 'shared/wellbeing_chart/wrapper', chart_alignment: 'left',
                 wellbeing_assessment: @wellbeing_assessment, wellbeing_metrics: @wellbeing_metrics,
                 path: user_wellbeing_assessments_path(@user), last_scores: @last_scores%>
    </div>
  </section>
</main>