<main class="container team-members wellbeing-assessments show">
  <%= render 'shared/back_btn', path: :back, text: 'Back' %>
  <section class="row" id="wellbeing">
    <div class="col">
      <%= render 'shared/wellbeing_chart/wrapper', chart_alignment: 'left', height: '300', show_timestamp: true,
                 chart_heading: "#{@wellbeing_assessment.user.full_name}'s Wellbeing", sliders_heading: 'Recorded At',
                 wellbeing_assessment: @wellbeing_assessment %>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
