<main class="container team-members wellbeing-assessments show">
  <section class="row" id="wellbeing">
    <div class="col">
      <%= render 'shared/wellbeing_chart/wrapper', chart_alignment: 'left', height: '245', show_timestamp: true,
                 chart_heading: "#{@wellbeing_assessment.user.full_name}'s Wellbeing", sliders_heading: 'Recorded At',
                 wellbeing_assessment: @wellbeing_assessment, pyramid_view: true %>
    </div>
  </section>
  <% unless @wellbeing_assessment.today? %>
    <section class="row">
        <div class="col next-btn">
          <%= link_to user_path(@wellbeing_assessment.user), class: 'btn btn-primary' do %>
            View Profile <i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </div>
    </section>
  <% end %>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
