<%= render 'layouts/searchable', class_list: 'user uploads', header: 'My Uploads', index: 'uploads',
           stats: render(partial: 'shared/uploads/stats'),
           new_btn: render(partial: 'shared/new_btn', locals: { path: new_upload_path, text: 'Add Upload' }) do %>
  <div class="container p-0">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="row">
          <% @resources.each do |upload| %>
            <div class="col-12 col-md-4 mb-3 d-flex justify-content-center" >
              <%= link_to upload_path(upload), class: 'upload-link' do %>
                <%= render 'card', object: upload%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>