<main class="uploads my-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto mt-3">
        <%= render 'shared/uploads/form', url: uploads_path%>
      </div>
    </div>
  </div>
</main>