<main class="container-fluid user_dashboard">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">Your Journey</h2>
      <div class="container buttons">
        <div class="row">
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Diary</div>
              </div>
            </div>
          </a>
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Appointments</div>
              </div>
            </div>
          </a>
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Needs</div>
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-address-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Contacts</div>
              </div>
            </div>
          </a>
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-road"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Journey</div>
              </div>
            </div>
          </a>
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-info-circle"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Support</div>
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-tasks"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Goals</div>
              </div>
            </div>
          </a>
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Include: What's On</div>
              </div>
            </div>
          </a>
          <a href="#" class="col d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-comments"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Voice</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>