<main class="container team-members wellbeing-services new">
  <%= render 'shared/back_btn' %>
  <section class="row">
    <div class="col">
      <%= render 'form', wellbeing_service: @wellbeing_service, title: 'New',
                 path: wellbeing_services_path, wellbeing_metrics: @wellbeing_metrics %>
    </div>
  </section>
</main>