<div class="col-12 col-md-6">
  <div class="search input-group">
    <input type="text" class="form-control" id="search-input" placeholder="Search" aria-label="Search">
    <select class="form-select" id="uploads-activity-type">
      <option value="all" selected>All Activty</option>
      <option value="viewed">Viewed</option>
      <option value="modified">Modified</option>
      <option value="downloaded">Downloaded</option>
      <option value="approved">Approved</option>
      <option value="rejected">Rejected</option>
    </select>
    <span class="input-group-text" id="search-btn"><i class="fas fa-search"></i></span>
  </div>
</div>

<%= javascript_pack_tag 'upload_activity_logs_search' %> 
