<main class="container user">
  <%= render 'shared/back_btn', path: upcoming_appointments_path, text: 'Back' %>
  <section class="row appointments">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4 create">
      <h3 class="mb-0">Edit appointment</h3>
      <p> Enter in the information to edit an appointment.</p>
      <%= render 'shared/appointments/form', appointment: @appointment, url: appointment_path(@appointment) %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>
