<main class="container user">
  <%= render 'shared/back_btn', path: appointments_path, text: 'Back' %>
  <section class="row" id="upcoming">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4 create">
      <%= render 'form', appointment: @appointment, url: appointment_path(@appointment), action: :put %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>

<%= javascript_pack_tag 'datetime_picker' %>
