<main class="container user">
  <%= render 'shared/back_btn', path: upcoming_appointments_path, text: 'Back' %>
  <section class="row" id="upcoming">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4 create">
      <h3 class="mb-0">Create new appointment</h3>
      <p> Enter in the information to add a new event.</p>
        <%= render 'form', appointment: @appointment, url: appointments_path, action: :create %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>

<%= javascript_pack_tag 'datetime_picker' %>
