<main class="container user">
    <section class="row contact-logs">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4 create">
      <h3 class="mb-0">Edit contact log</h3>
      <p> Enter in the information to edit a contact log.</p>
      <%= render 'form', contact_log: @contact_log, url: contact_log_path(@contact_log) %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>
