<main class="container user contacts edit">
    <section class="row">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4">
      <h3>Edit Contact</h3>
      <%= render 'form', submit_btn_text: 'Update' %>
      <%= button_to "Remove", contact_path(@contact), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mt-2" %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>