<main class="container user">
  <%= render 'shared/back_btn', path: authenticated_user_root_path, text: 'Dashboard' %>
  <section class="row" id="users">
    <div class="col">
      <h2 class="mb-3">Contacts</h2>
      
      <div class="container p-0">
        <div class="row">
          <h2><%= @resources.count %></h2>
          <% @resources.each do |contact| %>
            <%= link_to contacts_path(contact) do %>
              <%= contact.name %> <i class="fas fa-external-link-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>