<%= render 'layouts/searchable', class_list: 'user contacts', header: 'Contacts', index: 'contacts',
           new_btn: render(partial: 'shared/new_btn', locals: {path: new_contact_path, text: 'Add Contact'} ) do %>
  <div class="container p-0">
    <div class="row g-4 mt-3">
      <% @resources.each do |contact| %>
        <%= render 'card', contact: contact %>
      <% end %>
    </div>
  </div>
<% end %>
