<main class="container user">
  <%= render 'shared/back_btn', path: authenticated_user_root_path, text: 'Dashboard' %>
  <section class="row">
    <div class="col">
      <h2 class="mb-3">Contacts</h2>
      <div class="container header-buttons two">
        <span>My contacts go here</span>
      </div>
    </div>
  </section>
</main>