<main class="container user contacts new">
    <section class="row">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4">
      <h3>New Contact</h3>
      <%= render 'form', submit_btn_text: 'Create' %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>