<section class="row back-btn">
  <div class="col">
    <a id="back-btn" class="btn btn-primary">
      <i class="fas fa-arrow-circle-left"></i> Back
    </a>
  </div>
  <% if local_assigns[:next_path].present? %>
    <div class="col next-btn">
      <%= link_to local_assigns[:next_path], class: 'btn btn-success' do %>
        <i class="fas fa-plus-circle"></i> <%= local_assigns[:next_text] %>
      <% end %>
    </div>
  <% end %>
</section>

<%= javascript_pack_tag 'back' %>
