<section class="row pt-0 mt-0">
  <div class="container">
    <div class="row">
      <div class="col-0 col-md-4"></div>
      <div class="col-12 col-md-4 text-center">
        <%= link_to path, class: 'btn btn-primary' do %>
          <i class="fas fa-arrow-circle-left"></i> <%= text %>
        <% end %>
      </div>
      <div class="col-0 col-md-4"></div>
    </div>
  </div>
</section>
