<div class="row justify-content-md-center">
  <div class="col-auto">
    <%= link_to path, class: 'btn btn-primary btn-lg' do %>
      <i class="fas <%= icon %>"></i> <%= text %>
    <% end %>
  </div>
</div>