<div class="pyramid container">
  <div class="row top-tier">
    <div class="heading"><h4>Top Tier</h4></div>
    <div class="metric triangle up" style="border-bottom-color: #730E15"><i class="fas fa-user-tie"></i></div>
  </div>
  <div class="row middle-tier">
    <div class="heading middle-tier"><h4>Middle Tier</h4></div>
    <div class="metric polygon left"><i class="fas fa-brain"></i></div>
    <div class="metric polygon right"><i class="fas fa-heartbeat"></i></div>
  </div>
  <div class="row middle-tier">
    <div class="metric triangle up" style="border-bottom-color: #0B166B"><i class="fas fa-running"></i></div>
    <div class="metric triangle down" style="border-top-color: #1D2EAC"><i class="fas fa-people-carry"></i></div>
    <div class="metric triangle up" style="border-bottom-color: #02B7F9"><i class="fas fa-capsules"></i></div>
    <div class="metric triangle down" style="border-top-color: #5DAD3A"><i class="fas fa-people-arrows"></i></div>
    <div class="metric triangle up" style="border-bottom-color: #2C0869"><i class="fas fa-users"></i></div>
  </div>
  <div class="row bottom-tier">
    <div class="heading"><h4>Bottom Tier</h4></div>
    <div class="metric parallelogram left"><i class="fas fa-home"></i></div>
    <div class="metric trapezoid center"><i class="fas fa-wallet"></i></div>
    <div class="metric parallelogram right"><i class="fas fa-pizza-slice"></i></div>
  </div>
  <div class="row mt-3">
    <h2>Wellbeing Pyramid</h2>
  </div>
</div>