<div class="dialogue" id="dialogue">
    <div class="dialogue-clickoff" id="clickoff"></div>
    <div class="dialogue-box">
        <div class="dialogue-title"><h4>Report an Issue</h4></div>
    </div>
</div>

<%= javascript_pack_tag 'report_issue' %>