<main class="container team-members users show">
  <div class="">
    <div class="card h-100">
      <div class="card-header">
        <h3>Messages</h3>
      </div>
        <div class="card-body bg-transparent h-100" id="notes-card">
          <% if @messages.empty? %>
            <span>There are no messages to display yet.</span>
          <% else %>
            <% @messages.each do |message| %>
              <% unless message.replaced_by.present? %>
                <%= render 'users/messages/card', message: message%>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</main>

