<main class="container users appointments">
  <div class="">
    <div class="h-100">
      <div class="card-header">
        <h3 class="text-white">New Messages</h3>
      </div>
        <div class="" id="notes-card">
          <% if @new_messages.empty? || @notifications.where(read: false).empty? %>
            <div class="card my-2 note-card">
              <div class="card-body ">
                <span> There are no new messages to display yet. </span>
              </div>
            </div>
          <% else %>
            <% @new_messages.all.each do |message| %>
              <% if !message.message.read?%>
                <%= render 'users/messages/card', message: message%>
              <% end %> 
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="mt-5">
      <div class="card-header">
        <h3 class="text-white">Read Messages</h3>
      </div>
        <div class=" " id="notes-card">
          <% if @read_messages.empty? %>
            <div class="card my-2 note-card">
              <div class="card-body ">
                <span> There are no read messages to display yet. </span>
              </div>
            </div>
            <% else %>
            <% @read_messages.each do |message| %>
              <% if message.message.read?%>
                <%= render 'users/messages/card', message: message%>
              <% end %> 
            <% end %>
          <% end %>
      </div>
    </div>
    <section class="row mb-3 mt-3">
      <% if archive_messages? %>
        <div class="text-center">
          <%= link_to archive_messages_path, class: 'btn btn-primary' do %>
            View Archived Messages <i class="fas fa-arrow-circle-right"></i>
          <% end %>
        </div>
        <% end %>
    </section>
  </div>
</main>
