<main class="container team-members notes show">
  <section class="row">
    <h1>Messages</h1>
    <% if @team_members_notes.present? %>
      <div class="text-dark">
        <%@team_members_notes.each do |note|%>
          <div class="card my-2 note-card">
            <div class='card-header'>
              <span>
                Added by <strong><%= note.team_member.first_name %></strong> dated <strong><%= note.created %></strong>
              </span>
            </div>
            <div class="card-body ">
              <span>
                <%= simple_format(note.content) %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</main>
