<div class="modal fade" id="existingSosModal" tabindex="-1" aria-labelledby="existingSosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="existingSosModalLabel">Existing SOS Requests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You currently have the following open SOS requests raised in the past hour.</p>
        <% current_user.active_crisis_events.each do |crisis_event| %>
          <div class="card mb-3">
            <div class="card-header">
              <span><%= crisis_event.crisis_type.category %></span>
              <span style="float: right"><%= crisis_event.created %></span>
            </div>
            <div class="card-body">
              <p>
              <% if crisis_event.additional_info.present? %>
                <%= simple_format(crisis_event.additional_info) %>
              <% else %>
                No additional information was provided.
              <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <button class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#sosModal">
          Create New Request
        </button>
      </div>
    </div>
  </div>
</div>
