<html lang="en" class="h-100">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3 mb-auto">
      <h1>Journey Application</h1>
      <p class="lead">Some text goes here that will explain the application in one line</p>
      <p class="lead">
        <a href="/team_members/sign_in" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black-50">
          Include Uk Staff</a>
        <a href="/users/sign_in" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black-50">User</a>
      </p>
    </main>
  </div>
</body>
</html>
