<section class="d-flex min-vh-100 homepage-cover">
  <div class="mx-auto col-12 col-md-10 col-lg-8">
    <div class="text-lg-start">
      <% unless user_signed_in? || team_member_signed_in? %>
        <%= link_to root_path, class: 'btn btn-primary mt-3' do %>
          <i class="fas fa-arrow-circle-left"></i> Homepage
        <% end %>
      <% end %>
    </div>
    <div class="mt-4 text-center homepage-header homepage-section">
      <h1>My Journey</h1>
      <p>track and progress on my journey to make the changes you want and need.</p>
      <p>Built by the Legal Innovation lab Wales</p>
    </div>
    <div class="homepage-section">
      <div class="col-xs-12">
        <h2>Privacy Statement</h2>
        <p>
          For our members, those accessing our services.
        </p>
        <p>
          <strong>At Include we care about your privacy and take your privacy seriously.</strong> We only use your personal information to <strong>administer your account</strong> and provide the services you have requested from us. Data is used commonly to measure progress against targets, to monitor our projects and informs change to make things better for others in the future
        </p>
        <p>
          <strong>Include is the Data Controller and is committed to protecting the rights of individuals in line with the Data Protection Act 2018 and the UK General Data Protection Regulation (UK GDPR).</strong> Therefore, it is our responsibility to ensure it is stored and processed safely and fairly. This policy outlines the data that we collect, how it is used and your rights over your data.
        </p>

        <h2 class="section-title">CONTACT DETAILS OF THE DATA CONTROLLER</h2>
        <p>
          Include has a data protection officer (Emma Jones), who can be contacted by calling the include hub on 01792 814792.
        </p>

        <h2 class="section-title">WHAT IS OUR LEGAL BASIS FOR PROCESSING YOUR INFORMATION?</h2>
        <h2 class="section-title">CONSENT</h2>
        <p>
          For most of our projects your involvement is voluntary, we will always ask you for your consent and permission so that we can store and process the data you give us, for the reasons we have outlined in this policy. For these projects you have the right to withdraw your consent, to do this, you need to contact Include on 01792 814792 and state that you wish for your information to be removed from our systems. You will be advised on who you need to speak to, who can help you to complete this request. You will be asked to make this request in writing, so that we know the request has come from you.
        </p>
        <p>
          Summary:
        </p>
        <ul>
          <li>You will be asked to make explicit consent, service-specific, and consent to sharing your information with people who may need to know it (for example, housing, if we are helping you with that issue)</li>
          <li>Consent that can be withdrawn as easily as given</li>
        </ul>

        <p><strong>WHY we ask for your information?</strong></p>
        <p>
          We ask when you join as a member of one of our services or if you are referred in by someone else we ask form some of your personal information. It helps us to tailor the support we offer, helps us to keep in touch with you and helps to keep you and others safe.
        </p>
        <p>
          We may also use the information you provide us to measure and make sure our services are effective and meeting needs. We may use it for research purposes but we will anonymise the data, so you won't be identified if its used in this way.
        </p>
        <p>
          You don't have to give us all of the information that we ask for, if you are uncomfortable telling us certain things. There might be times where it is important and for us to offer a full service that you share information that information with us. You can tell us when you feel comfortable.
        </p>
        <p>
          We will hold information and record information relating to support that helps you, but if you no longer wish to continue with this, you are free to let us know.
        </p>

        <h2 class="section-title">DATA MINIMISATION AND DURATION</h2>
        <p>
          We only hold the minimum data necessary to record and track progress towards needs or targets or to identify any risks. Additional information that you may give us could be held securely for a short duration (for example if you ask us to complete an application for benefits or housing), once this task is finished, we will give you your documents or destroy them for your privacy.
        </p>
        <p><strong>How long will we hold your information?</strong></p>
        <p>
          We hold personal information provided to us for only as long as is necessary for the purposes of any work we have completed for you. Our funders will often specify these periods. Sensitive or personal data will be removed on completion of the project you are signed up to and any monitoring information will be anonymised and kept for the period requested by our funders (this can be up to 7years).
        </p>
        <p><strong>WHAT INFORMATION DO WE COLLECT?</strong></p>
        <p>
          Include are required to collect data for a number of reasons, this could be in order to fulfil contracts, in order to evidence the achievement outcomes relating to projects, and to enable us to offer support and assistance to people accessing our services.
        </p>
        <p>
          Examples of information we keep about you (with your consent) could include (but is not limited to):
        </p>
        <ul>
          <li><strong>Identity Data</strong> - name, date of birth, title, gender, nationality, NI number, Delius number, prison number or similar</li>
          <li><strong>Information About you</strong> - marital status, gender, religion</li>
          <li><strong>Contact details</strong> - address, telephone number, e-mail</li>
          <li><strong>Associate Data</strong> - Emergency contacts, friends, partner if you choose to give us this information or if it relates to risk</li>
          <li><strong>Contacts and Correspondence</strong> - Correspondence we have had with you or on your behalf (including letters, emails, professional forms)</li>
          <li><strong>Needs Data</strong> - Details of support needs and personal information relating to you - such as your housing situation, eligibility for welfare and benefits, details of probation conditions, ongoing police cases if we are supporting you. Information related to the help or support you receive based on these needs</li>
          <li><strong>Special Category Data</strong> - sexual orientation, ethnicity, Information about your health - only if you share this with us and if it informs support. Information about criminal records, risk, any conditions that you may be condition to (i.e. licence terms)</li>
          <li><strong>Risk and Safeguarding</strong> - Information relating to risk and safeguarding potentially of children if necessary</li>
        </ul>

        <strong><p>HOW we collect and store your information</strong></p>
        <p>
          When you sign up to one of our services you will give us the information you want us to have. You may complete a membership form for example, you are free to complete as little or as much of this as you like.
        </p>
         <p>
          Throughout your support we will log times you have used or accessed support, this is often done for us to monitor our services as a whole and to report to our funders.
        </p>
         <p>
          Throughout your support your support worker may make notes to help them to keep on top of what they have or need to do for you.
        </p>
         <p>
          Other agencies may provide us with information about you and we may also hold this on our secure systems, especially if it is important for keep you and others safe.
        </p>

        <h2 class="section-title">PERSONAL DATA WE COLLECT FROM OTHER SOURCES</h2>
        <p>
          We may also collect personal data about you from other sources (for example, probation or prison). We may combine this information with personal data provided by you. This will be used to help tailor support to you, to keep you and others safe or to track progress on contracts or projects we are delivering on behalf of someone else. Where this happens, we will ask the referring person to ensure you have consented to the referral and sharing of information.
        </p>

        <p><strong>Keeping your information safe and protecting your privacy</strong></p>
        <p>
          We keep your information (or 'data') safe both electronically and paper based. Our staff know the importance of confidentiality and using your data safely. Using safe and secure systems.
        </p>
        <p>
          We only share information with your consent, where we have told you that we will and where this is necessary to fully support you, for example, where there is an organisation better able to meet your needs, such as help to access support for your health or housing.
        </p>
         <p>
          Sometimes, we have to share information without consent, however, even in these circumstances we will try and obtain your consent first or let you know if and when we have to do this (if it's safe to do so). We have to do this where:
        </p>
        <ul>
            <li>It is necessary to protect or prevent you or someone from harm</li>
            <li>The police or court request us to do so, this is usually only the case if there is a serious criminal investigation</li>
        </ul>
        <p>
          Our staff and organisation will:
        </p>
        <ul>
            <li>Only use your data for reasons that we find necessary (for the course of your support for example) in ways that have been explained to you</li>
            <li>use it in the way that we have told you about or you have asked us to do</li>
            <li>ensure your data is correct and up to date</li>
            <li>keep as minimal data as we need and for only as long as we need it (sometimes this is specified to us by our funders or legislation)</li>
            <li>process it in a way that ensures it will not be lost or destroyed or used for anything that you are not aware of or have not consented to</li>
        </ul>

        <h2 class="section-title">WHERE IS MY DATA HELD?</h2>
        <p>
          Data input on the My Journey app is held on a cloud server. The data is held in a postgres database on Heroku hosted on data.heroku.com -  <a href="https://www.heroku.com/postgres" target="_blank" rel="noopener noreferrer">https://www.heroku.com/postgres</a>, the application is hosted on Heroku as well, running as 'dynos' which are containers spread across several servers in the cloud - <a href="https://www.heroku.com/dynos" target="_blank" rel="noopener noreferrer">https://www.heroku.com/dynos</a>. This server network itself is then hosted on Amazon's EC2 cloud-computing platform - <a href="https://aws.amazon.com/ec2/" target="_blank" rel="noopener noreferrer">https://aws.amazon.com/ec2/</a>.
        </p>

        <p><strong>YOUR RIGHTS over your personal data</strong></p>
        <p><strong>YOU have rights over your information and how it is used</strong></p>
        <ul>
            <li><strong>Your right of access:</strong> you can ask us to see what data we hold about you (you can do this by making a subject access request). If you wish to do this, contact Include on 01792 814792 and ask to speak with Emma Jones. You may need to prove to us that you are the person requesting your data. We will only provide your personal data to you, and nobody else.</li>
            <li>Your right to rectification - this means that if you think something is wrong, you can ask us to make it right or correct it</li>
            <li>Your right to erasure - you can ask us to delete your records, we are usually able to do this but sometimes we may need to retain some information for our legal obligations</li>
            <li>Your right to restriction of processing - you can tell us you think we're not using your data in a way you have consented to</li>
            <li>Your right to object to processing - you can change your mind, so even if you have consented, its ok if you no longer want us to store or process our information</li>
            <li>Your right to data portability - you have the right to ask us to transfer your information to another provider</li>
            <li>You have the right to complain if you feel we haven't handled your information as it should have been</li>
        </ul>
        <p>The laws that give you these rights are UK GDPR and the Data Protection Act 2018.</p>

        <h2 class="section-title">QUESTIONS OR COMPLAINTS</h2>
        <p>We would always like to help you in the first instance, so if you are unhappy please speak to your support worker or one of our Directors</p>

        <p><strong>Should you have any questions regarding this statement, please contact Emma Jones the Managing Director at Include on emma@includehub.co.uk</strong></p>

        <p><strong>The supervisory authority in the UK for data protection matters is the Information Commissioner (ICO). If you think your data protection rights have been breached in any way by us, you are able to make a complaint to the ICO.</strong></p>

      </div>
    </div>
  </div>
</section>