<main class="container team-members">
  <section class="row">
    <%= render 'shared/pyramid', wba_scores: @wellbeing_assessment.wba_scores.includes(:wellbeing_metric) %>
    <div class="mt-3">
      <h2>Wellbeing Pyramid</h2>
    </div>
  </section>
</main>