<section class="d-flex min-vh-100 homepage-cover">
  <div class="mx-auto col-12 col-md-10 col-lg-8">
    <div class="mt-5 text-center homepage-header homepage-section">
      <h1>Your Include Journey</h1>
      <p>track and progress on your journey to make the changes you want and need.</p>
      <p>Built for Include UK by the Legal Innovation lab Wales</p>
      <div class="text-center">
        <%= link_to new_team_member_session_path, class: 'btn btn-secondary' do %>
          team member sign in <i class="fas fa-users"></i><i class="fas fa-sign-in-alt"></i>
        <% end %>
        <%= link_to new_user_session_path, class: 'btn btn-success' do %>
          user sign in <i class="fas fa-user"></i><i class="fas fa-sign-in-alt"></i>
        <% end %>
      </div>
    </div>
    <div class="homepage-section">
      <div class="col-xs-12">
        <h2>Terms and conditions (TBD)</h2>
        <h2 class="section-title">1. Use of Include Journey</h2>
        <p>
          To use Include Journey as a user, you must register an account.

          To use Include Journey as a team member, you must (i) register an account (ii) be authorised and approved
          to use the application by an Include UK admin.

          Uses by automated methods are not permitted.
        </p>
        <p>
          You are responsible for the security of your passwords and for any use of your account. You may not
          allow multiple people to use the same account.
        </p>
        <p>
          Version 1.0, March 22nd 2021
        </p>
      </div>
    </div>
  </div>
</section>