<section class="d-flex min-vh-100 homepage-cover">
  <div class="mx-auto col-12 col-md-10 col-lg-8">
    <div class="mt-5 text-center homepage-header homepage-section">
      <h1>Your Include Journey</h1>
      <p>track and progress on your journey to make the changes you want and need.</p>
      <p>Built for Include UK by the Legal Innovation lab Wales</p>
      <div class="text-center">
        <%= link_to new_team_member_session_path, class: 'btn btn-secondary' do %>
          team member sign in <i class="fas fa-users"></i><i class="fas fa-sign-in-alt"></i>
        <% end %>
        <%= link_to new_user_session_path, class: 'btn btn-success' do %>
          user sign in <i class="fas fa-user"></i><i class="fas fa-sign-in-alt"></i>
        <% end %>
      </div>
    </div>
    <div class="homepage-section">

      <body id="terms-and-conditions">
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
            </div>


            <div class="col-xs-12">
              <div class="content">
                <h2>Terms and conditions</h2>
                <p>
                  Include UK operates Include Journey (as defined below), your use of Include Journey is
                  governed by these Terms of Service (“Terms”), and your use of Include Journey constitutes your acceptance
                  of the Terms. The application was designed and developed by the legal Innovation Lab Wales.
                </p>
                <p>
                  "Include Journey" (the "Service") means Include Journey project solution.
                </p>
                <p>
                  We will endeavor to provide you with notice about major changes to the Terms or Include Journey and other
                  changes (via email to the address on your account), but we make no guarantees. Other changes could be,
                  without limitation, security patches, added or removed functionality, and
                  other enhancements or restrictions to Include Journey.
                </p>
                <p>
                  Please use Include Journey responsibly and in compliance with these Terms. If you don't, we reserve the
                  right to terminate your subscription in accordance with the "Cancellation and Termination" section of
                  these Terms of Service.
                </p>

                <h2 class="section-title">1. Use of Include Journey</h2>
                <p>
                  To use Include Journey, you must (i) Register an account (ii) be authorised and approved
                  to use the application from Include UK. and (iii) be a human over the age of 13.
                  Uses by automated methods are not permitted.
                </p>
                <p>
                  You are responsible for the security of your passwords and for any use of your account. You may not
                  allow multiple people to use the same account.
                </p>
                <p>
                  You may not use Include Journey:
                </p>
                <ul>
                  <li>
                    for any illegal purpose, in any manner inconsistent with applicable laws, regulations, or
                    ordinances, or to submit, post, upload, or otherwise transmit any Customer Data or Content that is
                    unlawful, defamatory, libelous, invasive of another's privacy, abusive, threatening, harassing,
                    vulgar, obscene, indecent or otherwise objectionable;
                  </li>
                  <li>
                    to submit, post, upload or otherwise transmit any Customer Data or Content that infringes or
                    otherwise violates the rights of any third party, including without limitation privacy rights,
                    fiduciary rights and proprietary rights;
                  </li>
                  <li>
                    to submit, post, upload or otherwise transmit Customer Data or Content that contains viruses,
                    corrupted files, or any other similar software or programs that may damage the operation of Project
                    Hub or another person's computer; or
                  </li>
                </ul>

                <h2 class="section-title">2. Cancellation and Termination</h2>
                <p>
                  To cancel your account, send us an email at
                  <a href="mailto:hi@include.uk?Subject=Cancel+Subscription">hi@include.uk</a> instructing
                  us to do so. All of your Data and Content will, within a reasonable amount of time to be determined
                  solely by Include UK, be deleted from Include Journey upon cancellation.
                </p>
                <h2 class="section-title">3. Data</h2>

                <h2 class="section-title">4. Ideas and Feedback</h2>
                <p>
                  As part of your use of Include Journey, you may choose, or we may invite you, to submit comments, feedback
                  or ideas about Include Journey, including but not limited to ideas about improving Include Journey or our
                  other offerings ("Ideas").
                </p>

                <h2 class="section-title">5. External Sites and Content</h2>
                <p>
                  The Include Journey may contain links to other websites or content (“Third Party Sites”).
                </p>

                <h2 class="section-title">8. Monitoring of Content</h2>
                <p>
                  You understand that Include UK may access and disclose Customer Data or otherwise provide third parties
                  access to it for the following reasons:
                </p>
                <ul>
                  <li>
                    to send an email message to you upon your request;
                  </li>
                  <li>
                    to maintain the Site and Include Journey and to develop new and useful features and services;
                  </li>
                  <li>
                    to follow a court order, subpoena, complaint or a lawful request from governmental authorities;
                  </li>
                  <li>
                    to enforce these Terms;
                  </li>
                  <li>
                    to respond to claims that any Customer Data or Content violates third party rights;
                  </li>
                  <li>
                    to respond to your requests for customer service; and
                  </li>
                  <li>
                    to protect the rights, property, or personal safety of staff and individuals including yourself
                  </li>
                </ul>
                <h2 class="section-title">13. General Legal Terms</h2>
                <p>
                  These Terms are adapted from the Waffle.io Terms of Service, which is an adaption of the CodeClimate
                  Terms of Service, which is an adaption of the Heroku Terms of Service, which in turn is an adaptation
                  of the Google App Engine Terms of Service. The original work has been modified with permission under
                  the Creative Commons Attribution 3.0 License. Neither CA, Inc, CodeClimate, LLC, Heroku, Inc. nor
                  Google, Inc. is connected with, nor do they sponsor or endorse, Legal Innovation Lab Wales or its use of the work.
                </p>
                <p>
                  Version 1.0, March 22nd 2021
                </p>

              </div>
            </div>
          </div>
        </div>
    </div>
</section>