<main class="container team-members crisis-notes show">
  <%= render 'shared/back_btn', path: crisis_event_path(@crisis_event), text: 'Back' %>
  <div class="row">
    <div class="col-12 col-md-6 mb-4 mx-auto">
      <div class="card h-100">
        <div class="card-header">
          <h3>Note History</h3>
        </div>
        <div class="card-body bg-transparent" id="notes-card">
          <h6 class="text-muted text-center"><strong>current</strong></h6>
          <%= render 'note_card', note: @crisis_notes[0], current_note: true, crisis_event_page: false, edit: true %>
        </div>
        <div class="card-body bg-transparent" id="notes-card">
          <% if @crisis_notes[1].present? %>
            <h6 class="text-muted text-center">previous</h6>
          <% end %>
          <% @crisis_notes[1..-1].each do |note| %>
            <%= render 'note_card', note: note, current_note: false, crisis_event_page: false, edit: false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

<%= render 'edit_modal' %> 