<div class="subheading">
  <p><%= @team_member.first_name %> has viewed <%= pluralize(@viewed_in_last_week, 'journal entry', 'journal entries') %>
  in the last week and <%= pluralize(@viewed_in_last_month, 'journal entry', 'journal entries') %> in the last month.</p>
</div>