<div class="crisis-details">
  <h3>Contact Details</h3>
  <p><strong>Phone:</strong> <%= @user.mobile_number %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
</div>
<div class="crisis-details">
  <h3>Crisis Details</h3>
  <p><strong>Crisis Type:</strong> <%= @crisis_type %></p>
  <p><strong>Additional Details:</strong> <%= @crisis_event.additional_info %></p>
</div>
