<p>A <%= @userType%> new team member has signed up.</p>
<p>You have <strong><%= pluralize(@unapproved_count, 'user') %></strong> awaiting approval.</p>
<p>
  Click the button below to login and approve new team members.
</p>

<div class="btn-container">
  <%= link_to 'Login', @url %>
</div>