<p><%= @user.full_name %> has pushed the SOS button as they are having a crisis.</p>

<%= render 'crisis_details' %>

<p>Click the button below to login and manage this crisis.</p>

<div class="btn-container">
    <%= link_to 'Login', crisis_event_url(@crisis_event) %>
</div>
