<p>Hi <%= @user.first_name %>, this is a reminder that you haven't filled out a wellbeing assessment today.</p>
<p>Please click the button below to login and complete a wellbeing assessment via the My Needs dashboard button.</p>

<div class="btn-container"><%= link_to 'Login', users_url %></div>

<p>You can disable these reminders in the My Profile settings.</p>