<div class="subheading">
  <p><%= pluralize(@created_in_last_week, 'diary entry has', 'diary entries have') %> been created in the last week
  and <%= pluralize(@created_in_last_month, 'diary entry has', 'diary entries have') %> been created in the last month.</p>
</div>