<main class="container user">
  <%= render 'shared/back_btn', path: authenticated_user_root_path, text: 'Dashboard' %>
  <section class="row">
    <div class="col">
      <h2 class="mb-3">Journal</h2>
      <div class="container header-buttons two">
        <div class="row">
          <%= link_to new_journal_entry_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-book-medical"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">New Entry</div>
              </div>
            </div>
          <% end %>
          <%= link_to journal_entries_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-archive"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Archive</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>