<%= render 'layouts/searchable', class_list: 'user journal-entry', header: 'Journal Entries', index: 'journal_entries',
           stats: render(partial: 'stats'),
           new_btn: render(partial: 'shared/new_btn', locals: { path: new_journal_entry_path, text: 'New Entry' }) do %>
  <div class="container p-0">
    <div class="row">
      <% @resources.each do |journal_entry| %>
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-header">
              <span><%= journal_entry.feeling %></span>
              <span><%= journal_entry.created %></span>
            </div>
            <div class="journal-text text-dark p-1">
              <%= simple_format(journal_entry.entry) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
