<main class="container dashboard">
  <section class="row">
    <div class="col mb-3">
      <h2 class="mb-3">Dashboard</h2>
      <div class="container buttons">
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-users"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Staff</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-user"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Members</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-chart-line"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Analytics</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <h3>Staff</h3>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <h3>Members</h3>
    </div>
  </section>
</main>