<main class="container user guide">
  <section class="row journey">
    <div class="col mb-3">
      <div class="row">
      </div>
      <h2 class="mb-0">Diary Guide</h2>
      <p>Diaries allow you to write down thoughts, feelings and events you want to
        remember. It can be used to write whatever you like. You also have the option to share your diaries with team member's.</p>
    </div>
    <hr>
    <%= image_tag ("guide/diaryEntry2.png") %>
    <hr>
    <%= image_tag ("guide/diaryEntry4.png") %>
    <hr>
    <%= image_tag ("guide/diaryEntry3.png") %>
    </div>
  </section>
</main>