<main class="container user guide">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">My Needs Guide</h2>
      <%= link_to root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Back to app
      <% end %>
      <p>Your my needs page is your area to reflect how you are feeling. Aspects of life are broken down, to
      allow you to say which areas might be needing help the most. You can fill this out once a day, over time you will
      be able to see your progress and how things have changed.</p>
    </div>
    <hr>
    <%= image_tag ("guide/myneeds.png") %>
    </div>
  </section>
</main>