<main class="container user guide">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">My support Guide</h2>
      <%= link_to root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Back to app
      <% end %>
      <p>Here is a list of all the services if you need them. Each service will have a short description and some
      contact information</p>
      <hr>
    </div>
    <%= image_tag ("guide/services.png")  %>

    </div>
  </section>
</main>