<main class="container user guide">
  <section class="row journey">
    <div class="col mb-3">
      <div class="row">
        <div class="col text-start">
          <%= link_to root_path, class: 'btn btn-primary' do %>
            <i class="fas fa-arrow-circle-left"></i> Back to app
          <% end %>
        </div>
      </div>
      <h2 class="mb-0">My support Guide</h2>
      <p>Here is a list of all the services if you need them. Each service will have a short description and some
      contact information</p>
    </div>
    <hr>
    <%= image_tag ("guide/services.png") %>
    </div>
  </section>
</main>