<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Include UK Contact Times</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><i class="fas fa-clock"></i> 8 am to 6 pm.</p>
        <p><i class="fas fa-calendar-day"></i> Monday to Friday</p>
        <p><i class="fas fa-phone-volume"></i> 01792814792</p>

        <p> These are the normal Include Hub opening times. For more up to date information, please check on the
           <a href="http://include-uk.com/contact-us/">main website</a></p>

        <div class="container">
          <div class="row">
            <div class="col text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
