<%= form_with model: goal, url: goals_path, class: 'hidden' do |f| %>
  <%= f.hidden_field :length, value: length %>

  <div class="input-group">
    <%= f.text_area :goal, class: 'form-control', placeholder: 'Goal', rows: 1 %>
    <%= f.submit '✓', class: 'btn btn-success' %>
    <div class="btn btn-danger cancel">✗</div>
  </div>
<% end %>