<ul class="list-group">
  <% goals.each do |goal| %>

    <% if goal.achieved_on.present? %>
      <li class="list-group-item achieved">
        <div><%= simple_format(goal.goal) %></div>
        <div><i class="fas fa-check-square"></i></div>
      </li>
    <% else %>
      <%= link_to achieve_goal_path(goal), method: :put do %>
        <li class="list-group-item">
          <div><%= simple_format(goal.goal) %></div>
          <div><i class="far fa-square"></i></div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>