<ul class="list-group">
  <% goals.each do |goal| %>

    <% if goal.achieved_on.present? %>
      <li class="list-group-item achieved"><%= goal.goal %> <i class="fas fa-check-square"></i></li>
    <% else %>
      <%= link_to achieve_goal_path(goal), method: :put do %>
        <li class="list-group-item"><%= goal.goal %> <i class="far fa-square"></i></li>
      <% end %>
    <% end %>
  <% end %>
</ul>