<main class="container user goals index">
  <%= render 'shared/back_btn', next_path: new_goal_path, next_text: 'Add New Goal' %>
  <section class="row">
    <div class="col">
      <h3>This is the view of the users index of goals...</h3>
    </div>
  </section>
</main>