<main class="container user goals new">
  <%= render 'shared/back_btn' %>
  <section class="row">
    <div class="col">
      <h3>This is the view to add a new goal...</h3>
    </div>
  </section>
</main>