<% if has_permission %>
    <h4><%= type %> Term</h4>
    <% if goals.length === 0 %>
        <span><%= @user.first_name %> has no <%= type %> term Goals yet.</span>
    <% end %>
    <div class="goal-card-wrapper">
        <% goals.each do |goal| %>
            <p class="bg-white p-3"><%= goal.goal %></p>
        <% end %>
    </div>
<% end %>