<div class='sort-bar'>
    <div class="sort-column">
        <%= render 'shared/sort_column', column_value: 'first_name', column_icon: 'fas fa-font' %>
    </div>
    <div class="sort-column">
        <%= render 'shared/sort_column', column_value: 'average', column_icon: 'fas fa-smile' %>
    </div>
    <div class="sort-column">
        <%= render 'shared/sort_column', column_value: 'released_at',  column_icon: 'fas fa-calendar-alt' %>
    </div>
</div>

<%= javascript_pack_tag 'sort_column' %>