<section class="row" id="wellbeing-history-chart-wrapper">
  <div class="col">
    <h3><%= chart_heading %></h3>
    <div class="mobile-hint">
      <h5 class="pt-5 px-3">The wellbeing history chart doesn't work very well on mobile so we've disabled it. Please view this on a larger screen.</h5>
    </div>
    <div id="wellbeing-history-chart-carousel" class="carousel slide carousel-dark mobile-hide" data-bs-interval="false">
      <select class="form-select mx-auto" aria-label="Select Wellbeing Metric"></select>
      <div class="carousel-inner"></div>
      <div class="carousel-indicators"></div>
      <button class="carousel-control-prev hidden" type="button" data-bs-target="#wellbeing-history-chart-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next hidden" type="button" data-bs-target="#wellbeing-history-chart-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'wellbeing_history_chart' %>