<section class="row" id="wellbeing-history-chart-wrapper">
 <div class="col-12">
   <canvas id="wellbeing-history-chart"></canvas>
 </div>
</section>

<%= javascript_pack_tag 'wellbeing_history_chart' %>
