<section class="row" id="wellbeing-history-chart-wrapper">
 <div class="col-12">
   <h3><%= local_assigns[:chart_heading] %></h3>
   <canvas id="wellbeing-history-chart"></canvas>
 </div>
</section>

<%= javascript_pack_tag 'wellbeing_history_chart' %>
