// Place all the styles related to the users/appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

section {
  &.appointments {
    background-color: $white;
    color: $black;
    margin-top: 1rem;

    @media screen and (min-width: $screen-md) {
      margin-top: 0;

      a {
        color: $black;
      }

      .card{
        text-align: left;
        background: transparent;
      }
    }
  }

  .create {
    form {
      .form-floating {
        margin-bottom: 1rem;
      }

      .date-time-fields {
        .form-floating:first-child {
          padding-right: 0;

          label {
            margin-left: 15px;
          }

          input {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .form-floating:last-child {
          padding-left: 0;

          input {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}
