@import "variables";

body#overboot {
  .btn {
    font-family: $font-link;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    border-radius: 0.6rem;
    font-weight: 700;

    &:hover {
      box-shadow: none;
    }

    &.btn-no-link{
      cursor: default;

      &:hover{
        background-color: $brand-secondary-alt;
        border-color: $brand-secondary-alt;
        color: $white;
      }
    }
    &.btn-success{
      text-align: center;
    }
  }

  .btn-primary {

    &:hover {
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      color: $brand-primary;
    }
  }


  .header-buttons {
    max-width: max-width;
    padding: 0;

    &.guide {
      a {
        color: $black;
        background: $info;
        border-color: $info;
        &:hover {
          color: $white;
          background: $info-dark;
          border-color: $info-dark;
        }
      }
    }

    a {
      color: $brand-primary;
      font-size: 0.9rem;
      text-decoration: none;
      border-radius: 2rem !important;
      border: $header-buttons--border-width solid $brand-primary;
      height: $header-buttons--max-width/5;
      margin: $header-buttons--margin/2;
      box-shadow: none;

      i {
        font-size: 2.5rem;
      }

      .display-on-wide {
        display: none;
      }

      .hide-on-wide {
        display: inline;
      }

      .container {
        padding: 0;
      }

      @media screen and (min-width: $header-buttons--max-width) {
        color: $black;
        background-color: $brand-primary;
        height: ($header-buttons--max-width/3) - $header-buttons--margin*2 + $header-buttons--border-width*2;
        margin: $header-buttons--margin/2 $header-buttons--margin;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
        transition: 0.6s;

        i {
          font-size: 2.5rem;
        }

        .display-on-wide {
          display: inline;
        }

        .hide-on-wide {
          display: none;
        }

        &:hover {
          background-color: $brand-secondary;
          border-color: $brand-secondary;
          color: $brand-primary;
        }
      }
    }

    .clear {
      visibility: hidden;
    }

    &.two {
      max-width: 400px;
    }
  }

}
