@import "variables";

$max-width: 550px;
$margin: 20px;
$border-width: 1px;

.dashboard {
  min-height: calc(100vh - 56px);
  color: $white;
  background-color: $black;
  text-align: center;

  section {
    border-radius: 0.6rem;
    background-color: $grey;
    text-align: center;
    margin: 1rem;

    @media screen and (min-width: $screen-md){
      margin: 1rem;
      padding: 1rem;
    }

    .buttons {
      max-width: $max-width;
      padding: 0;

      a {
        height: $max-width/4;
        margin: $margin/4 $margin/2;
        border: $border-width solid $brand-primary;
        border-radius: 2rem !important;
        background-color: $brand-primary;
        color: $black;
        text-decoration: none;
        font-size: 0.9rem;

        @media screen and (min-width: $max-width) {
          height: ($max-width/3) - $margin*2 + $border-width*2;
          margin: $margin/2 $margin;
        }

        i {
          font-size: 2.5rem;
        }

        &:hover {
          background-color: $brand-primary-dark;
          color: $brand-secondary;
        }

        .container {
          padding: 0;
        }
      }
    }
  }

  &.user section.wellbeing .sliders {
    text-align: left;
  }
}


.notes-card {
  max-height: 40vh;
}