@import "variables";

.team-members, .user {
  min-height: calc(100vh - #{$nav-sm} - #{$footer-sm} - #{$margins});

  @media screen and (min-width: $screen-md) {
    min-height: calc(100vh - #{$nav} - #{$footer} - #{$margins});
  }

  color: $white;
  background-color: $black;
  padding: 0 !important;

  section {
    border-radius: 0.6rem;
    text-align: center;
    margin: 1rem 0;

    @media screen and (min-width: $screen-md) {
      margin: 1rem;
      padding: 1rem;
    }

    &.journey {
      background-color: $black;
    }
  }
}

