@import "variables";

.team-members, .user {
  min-height: calc(100vh - #{$nav-sm} - #{$footer-sm} - #{$margins});

  @media screen and (min-width: $screen-md) {
    min-height: calc(100vh - #{$nav} - #{$footer} - #{$margins});
  }

  color: $white;
  background-color: $black;
  padding: 0 !important;

  section {
    border-radius: 0.6rem;
    text-align: center;
    margin: 1rem 0;

    &.back-btn {
      text-align: left;
    }

    .next-btn {
      text-align: right;
    }

    @media screen and (min-width: $screen-md) {
      margin: 1rem;
      padding: 1rem;
    }

    &.journey {
      background-color: $black;
    }
  }
}

.breadcrumbs {
  padding: 0 !important;

  section {
    border-radius: 0.6rem;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;

      .btn-container{
        display: inline-flex;
      }

      div.breadcrumb-chevron{
        color: $primary;
        margin: 0.325rem 0.265rem 0 0.265rem;
      }
    }

}

.user .journey .col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .affirmation {
    align-self: center;
    max-width: $header-buttons--max-width;
    padding: 0 $header-buttons--margin/2;

    @media screen and (min-width: $screen-sm){
      padding: 0;
    }
  }
}