// Place all styles that need to be applied globally here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

html, body {
  min-height: 100vh;
}

body#overboot {
  .alert {
    z-index: 1080;
  }

  h1, h2, h3 {
    font-family: $heading-font;
    font-weight: 800;
    text-transform: lowercase;
  }
  background-color: $black;
  font-family: $font;

  .bg-brand {
    background-color: $brand-primary;
  }

  a {
    font-family: $font-link;
  }

  table {
    border-radius: 0.6rem;

    .fa-check-circle {
      color: $success;
    }

    .fa-times-circle {
      color: $danger;
    }
  }
}
