// Place all styles that need to be applied globally here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

html, body {
  min-height: 100vh;
  overflow-x: hidden;
}

.btn {
  box-shadow: none !important;
}

.mobile-hint {
  @media (min-width: $screen-sm) {
    display: none;
  }
}
.mobile-hide {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.v-hidden {
  visibility: hidden !important;
}

body#overboot {
  background-color: $black;
  font-family: $font;

  .alert {
    z-index: 1080;
  }

  h1, h2, h3, h4 {
    font-family: $heading-font;
    font-weight: 800;
    text-transform: lowercase;
  }

  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    @media (min-width: $screen-sm) {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
    }
  }

  .bg-brand {
    background-color: $brand-primary;
  }

  a {
    font-family: $font-link;
  }

  .table-container {
    overflow-x: auto;
    margin-bottom: 0.5rem;
  }

  table {
    text-align: center;
    white-space: nowrap;

    &.link-table {
      td {
        padding: 0 !important;
      }
    }

    td {
      max-width: 400px;
      height: 50px;
      line-height: 50px;
      padding: 0 1rem;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $white;
        cursor: pointer;
        padding: 0 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .fa-check-circle, .fa-play-circle {
      color: $success;
    }

    .fa-times-circle, .fa-pause-circle {
      color: $danger;
    }
  }

  .subheading {
    color: $white;
    p {
      margin-bottom: 0;
    }
  }

  .form-floating {
    label {
      color: $black;
    }
  }
}
.cursor-pointer{
  cursor: pointer;
}