@import "variables";

.team_members {
  &.journal_entries {
    .feeling {
      font-size: 2rem;
    }
  }

  &.journal_entry {
    max-width: 550px;
  }
}

.user {
  &.journal_entry {
    &.new {
      max-width: 550px;
      margin: 1rem auto;

      label.btn {
        font-size: 2rem;
      }
    }
  }
}

.team_members, .user {
  &.journal_entry {
    textarea {
      height: 150px;
    }

    .card-header {
      span {
        &:first-child {
          float: left;
        }

        &:last-child {
          color: $black;
          float: right;
        }
      }
    }

    textarea {
      border: none;
    }

    label {
      color: $black;
    }
  }
}