@import "variables";

body {
  margin: 1.5rem;
  padding: 0;
  background-color: $white;

  .wrapper {
    text-align: center;
    width: 100%;
    table-layout: fixed;
    background-color: $white;
    padding-bottom: 2rem;

    .webkit {
      Margin: 0 auto;
      max-width: 500px;
      background-color: $black;

      .outer {
        width: 100%;
        max-width: 500px;
        border-spacing: 0;
        font-family: $font;
        font-size: medium;
        color: $white;

        .inner {
          width: 100%;

          .banner {
            padding: 1.5rem;

            img {
              width: 100%;
            }
          }

          .content {
            padding-left: 3rem;
            padding-right: 3rem;

            h2 {
              margin-top:1rem;
              margin-bottom: 2rem;
            }

            .btn-container {
              margin: 2.5rem;

              .btn {
                background-color: $success;
                color: $black;
                font-size: 1rem;
                text-decoration: none;
                border: none;
                cursor: pointer;
                border-radius: 0.6rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 3rem;
                padding-right: 3rem;
              }
            }

            .signature {
              margin-top: 2.5rem;
              margin-bottom: 1rem;
              font-size: large;
              font-style: italic;
              color: $grey;

              p {
                margin: 0.5rem;
              }
            }
          }

          .footer {
            position: relative;
            padding: 1.5rem;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  
}

table {
  border-spacing: 0;
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 300px) {

}