@import "variables";

body {
  background-color: $white;

  .wrapper {
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .center {
      background-color: $black;

      .banner {
        max-width: 100%;
        height: auto;
      }

      .content {
        color: $white;
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
  
}


@media screen and (max-width: 500px) {

}

@media screen and (max-width: 300px) {

}