@import "variables";

body {
  margin: 1.5rem;
  padding: 0;
  background-color: $white;

  .wrapper {
    text-align: center;
    width: 100%;
    table-layout: fixed;
    background-color: $white;
    padding-bottom: 2rem;

    .webkit {
      Margin: 0 auto;
      max-width: 500px;
      background-color: $black;

      .outer {
        width: 100%;
        max-width: 500px;
        border-spacing: 0;
        font-family: $font;
        color: $white;

        .inner {
          width: 100%;

          .banner {
            padding-top: 1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            img {
              width: 100%;
            }
          }

          .content {
            padding-left: 3rem;
            padding-right: 3rem;
          }
        }
      }
    }
  }
  
}

table {
  border-spacing: 0;
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 300px) {

}