#existingSosModal {
  form {
    textarea {
      height: 150px;
      border: none;
    }

    .card-footer {
      padding: 0;

      input[type="submit"] {
        float: right;
      }
    }
  }
}