// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.homepage-cover {
  display: flex;
  background-color: $black;

  .homepage-section {
    border-radius: 0.6rem;
    padding: 2rem 4rem;
    margin-bottom: max(2rem);
    background-color: $white;
    color: $black;

    h1 {
      font-size: 4rem;
    }

    a.col {
      max-width: 200px;
    }
  }

  .homepage-header {
    background-color: $brand-primary;
    color: $black;
  }

}

.footers {
  .title {
    color: $black;
    text-decoration: none;

    h3:hover {
      color: $brand-secondary;
    }
  }

  h3 {
    color: $black;
  }

  a.btn {
    color: $white;
    background-color: $black;

    &:hover {
      color: $brand-secondary;
    }
  }
}

nav.navbar {
  text-align: center;

  .navbar-right-buttons{
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $screensize-min) {
      margin-right: 0;
      min-width: 364px;
    }
  }


  .navbar-items {
    overflow: hidden;
    max-height: 44px;

    .btn {
      width: 11rem;
    }

    @media (min-width: $screensize-min) {
      .btn {
        margin: 0.15rem;
        width: auto;

        .nav-label {
          display: none;
        }

        &:hover {
          color: $brand-secondary;

          .nav-label {
            display: inline-block;
          }
        }
      }
    }
  }
}