@import "variables";

.pagination-controls {
  color: $white;

  a {
    text-decoration: none;
  }

  .col {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}