.pagination-controls {
  padding: 0 !important;

  a {
    text-decoration: none;
  }

  .col {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}