@import "variables";

.permissions {
  &.container {
    max-width: 550px;

    .model-info {
      .col {
        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  label {
    background-color: $danger-dark;
    border-color: $danger-dark;

    &.selected {
      background-color: $success-dark;
      border-color: $success-dark;
    }

    &.btn {
      color: $white !important;

      i {
        float: right;
        line-height: 1.5;
      }
    }
  }

  section.row {
    @media screen and (max-width: $screen-md){
      background-color: $black;
    }
  }
}