@import "variables";

.permissions {
  @media screen and (min-width: $screen-md) {
    section {
      max-width: 60vw !important;

      &.row {
        background: $blue-grad;
      }
    }
  }

  &.container {
    max-width: 550px;

    .model-info {
      .col {
        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .select-form{
    label{
      background: none !important;
    }
  }
  label {
    background-color: $danger-dark;
    border-color: $danger-dark;

    &.selected {
      background-color: $success-dark;
      border-color: $success-dark;
    }

    &.btn {
      color: $white !important;

      i {
        float: right;
        line-height: 1.5;
      }
    }
  }
}
