@import "variables";

$row-height: 60px;
$font-size: 24px;
$heading-height: $row-height - 6px;

.pyramid {
  .row {
    height: $row-height;
    min-width: $row-height*8;
    justify-content: center;

    .heading {
      position: absolute;
      height: $heading-height;
      width: $row-height * 3;
      text-align: right;
      margin-left: ((-$row-height * 2) * 6);
      border-right: 1px solid $white;

      h4 {
        transform: translateY(($heading-height - $font-size) / 2);
        margin-bottom: 0;
      }
    }

    i {
      font-size: $font-size;
    }

    .metric:hover {
      cursor: pointer;

      &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: $color-complement-2 !important; }
      &.triangle.down { border-top-color: $color-complement-2 !important; }
      &.parallelogram { background-color: $color-complement-2 !important; }
    }

    &.top-tier, &.middle-tier {
      .triangle {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        border-left: $row-height solid transparent;
        border-right: $row-height solid transparent;
        background: none;

        &.up {
          border-bottom-width: $row-height;
          border-bottom-style: solid;

          i {
            transform: translateY($font-size);
          }
        }

        &.down {
          border-top-width: $row-height;
          border-top-style: solid;
          margin: 0 (-$row-height);

          i {
            transform: translateY(-$font-size * 2);
          }
        }
      }
    }

    &.middle-tier {
      .heading {
        height: $heading-height * 2;

        h4 {
          transform: translateY((($heading-height * 2) - $font-size) / 2);
        }
      }

      .polygon {
        height: $row-height;
        width: $row-height * 2;
        background: none;
        border-bottom-width: $row-height;
        border-bottom-style: solid;

        &.left {
          border-left: $row-height solid transparent;

          i {
            transform: translateY(($row-height - $font-size) / 2) translateX(-$font-size / 2);
          }

        }

        &.right {
          border-right: $row-height solid transparent;

          i {
            transform: translateY(($row-height - $font-size) / 2) translateX($font-size / 2);
          }

        }
      }
    }

    .parallelogram {
      &.left {
        transform: skew(-45deg);

        i {
          transform: translateY(($row-height - $font-size) / 2) skew(45deg);
        }
      }

      &.right {
        transform: skew(45deg);

        i {
          transform: translateY(($row-height - $font-size) / 2) skew(-45deg);
        }
      }
    }

    .trapezoid {
      border-left: $row-height solid transparent;
      border-right: $row-height solid transparent;
      border-bottom-width: $row-height;
      border-bottom-style: solid;

      i {
        transform: translateY(($row-height - $font-size) / 2);
      }
    }

    &.bottom-tier {
      .parallelogram {
        height: $row-height;
        width: $row-height * 2;
      }

      .trapezoid {
        height: 0;
        width: $row-height * 4;
        margin: 0 (-$row-height / 2);
      }
    }
  }
}