i.fas {
  &.fa-sort, &.fa-caret-down, &.fa-caret-up {
    &:hover {
      cursor: pointer;
    }
  }
}

.sort-bar{
  display:flex;
  margin-bottom: 0.3rem;
  .sort-column{
    cursor:pointer;
    margin-right:1rem;
  }
}
