@import "variables";

.surveys {
  &.show {
    h3 {
      text-align: center;
    }

    h4 {
      text-align: left;
      margin-top: 1rem;
    }

    h3, h4 {
      color: $white;
    }

    table {
      td {
        position: relative;
        white-space: pre-line;
        vertical-align: middle;
        max-width: 500px !important;
        overflow: auto !important;
        text-overflow: initial !important;
        line-height: 1.5rem !important;
        padding: 0 !important;

        &:first-child {
          padding: 1rem !important;
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    textarea {
      height: 150px;
      margin-bottom: 1rem;
    }
  }
}