@import "variables";

$border: 6px;
$row-height: 86px;
$right-triangle: ($row-height / 2);
$circle: ($right-triangle / 2);
$tag-color: $brand-primary;
$tag-border-color: $brand-primary-dark;

.tags {
  .card-body {
    max-height: 50vh;
    overflow-y: scroll;

    .tag {
      display: flex;

      .outer-triangle {
        width: 0;
        height: 0;
        border-top: $right-triangle solid transparent;
        border-bottom: $right-triangle solid transparent;
        border-right: $right-triangle solid $tag-border-color;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner-triangle {
          width: 0;
          height: 0;
          border-top: ($right-triangle - $border) solid transparent;
          border-bottom: ($right-triangle - $border) solid transparent;
          border-right: ($right-triangle - $border) solid $tag-color;
          margin-left: ($right-triangle + $border);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .tag-body {
        width: 100%;
        max-height: $row-height;
        background: $tag-color;
        border: $border solid $tag-border-color;
        border-left: none;
        border-radius: 0 $border $border 0;
        padding: 0.5rem;
        font-size: 1.25rem;
        text-align: center;

        small {
          font-size: 0.75rem;
        }
      }
    }
  }
}
