@import "variables";

.team-members {
  &.index {
    table {
      .btn i {
        color: $black;
      }

      .fa-check-circle, .fa-play-circle {
        color: $success;
      }

      .fa-times-circle, .fa-pause-circle {
        color: $danger;
      }
    }
  }
}