@import "variables";

.team-members {
  &.users.index section.row {
    padding: 0 1rem;

    &.back-btn {
      padding: 1rem;
    }
  }

  .card {
    background-color: $grey;
    background: $grey-grad;
    color: $black;

    a {
      color: $black;
      font-weight: bold;
      text-decoration: none;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.btn-sm {
        padding: 0.25rem 0.5rem;
      }

      &:hover {
        color: $white;
      }
    }

    &.has-crisis {
      background-color: $danger-light;

      .chart a:hover {
        .wellbeing-chart-wrapper {
          background-color: $white !important;
          color: $black;
        }
      }
    }

    .card-header {
      i {
        &.unpinned {
          transform: rotate(45deg);
        }

        &:hover {
          color: $brand-secondary-dark;
          cursor: pointer;
        }
      }
    }

    .card-body {
      text-align: left;

      .container {
        padding: 0;

        .row {
          padding-left: 0.5rem;
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          .wellbeing-chart-col {
            border-radius: 1rem;
            text-align: center;

            &:hover {
              background: $blue-grad;
            }
          }

          span {
            padding: 0;
          }
        }
      }
    }
  }

  &.index {
    .card {
      .card-header, .card-footer {
        span {
          &:first-child {
            float: left;
          }

          &:last-child {
            float: right;
          }
        }
      }
    }
  }

  .font-weight-link {
    font-weight: 700 !important;
  }

  #notes-card {
    max-height: 57vh;
    overflow: auto;
  }

  &.show {
    .wellbeing-chart.wrapper {
      h3, h5 {
        text-align: center !important;
      }

      canvas {
        margin-top: 1.5rem;
      }
    }
  }
}
