@import "fonts";

$font: 'Open Sans', sans-serif;
$font-link: 'Montserrat', sans-serif;

$bg-main: #F5F5F5;

// Brand Colours
$brand-primary: #F4E311;
$brand-primary-dark: #C8B909;
$brand-secondary: #565656;

// Screen Breakpoints
$screen-md: 768px;