// Place all the styles related to the WellbeingMetrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

//Abysmal 1
.wba-score__1 {
  width:100%;
  background-color: #E04444;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #E04444 }
  &.triangle.down { border-top-color: #E04444 }
}
//Dreadful 2
.wba-score__2 {
  width:100%;
  background-color: #e66043;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #e66043 }
  &.triangle.down { border-top-color: #e66043 }
}
//Rubbish 3
.wba-score__3{
  width:100%;
  background-color: #eb7945;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #eb7945 }
  &.triangle.down { border-top-color: #eb7945 }
}
//Bad 4
.wba-score__4 {
  width:100%;
  background-color: #ee904b;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #ee904b }
  &.triangle.down { border-top-color: #ee904b }
}
//Mediocre 5
.wba-score__5 {
  width:100%;
  background-color: #F0A656;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #F0A656 }
  &.triangle.down { border-top-color: #F0A656 }
}
//Fine 6
.wba-score__6 {
  width:100%;
  background-color: #DFC54C;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #DFC54C }
  &.triangle.down { border-top-color: #DFC54C }
}
//Good 7
.wba-score__7 {
  width:100%;
  background-color: #c1c041;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #c1c041 }
  &.triangle.down { border-top-color: #c1c041 }
}
//Great 8
.wba-score__8 {
  width:100%;
  background-color: #a2ba3a;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #a2ba3a }
  &.triangle.down { border-top-color: #a2ba3a }
}
//Superb 9
.wba-score__9 {
  width:100%;
  background-color: #82b438;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #82b438 }
  &.triangle.down { border-top-color: #82b438 }
}
//Perfect 10
.wba-score__10 {
  width:100%;
  background-color: #5DAD3A;
  &.trapezoid, &.triangle.up, &.polygon { border-bottom-color: #5DAD3A }
  &.triangle.down { border-top-color: #5DAD3A }
}

.wellbeing-metrics {

  .iconbar{
    .btn {
      display: inline-block;
      margin: 1rem;

      &.disabled {
        background-color: $brand-secondary;
        border-color: $brand-secondary;
        color: $brand-primary;
      }
    }
  }
  &.index {
    .hidden {
      display: none !important;
    }

    td {
      input[type="text"] {
        background-color: $white;
        color: $black;
        text-align: center;
        border: none;
        height: 30px;
        border-radius: 5px;

        &[disabled=""] {
          background-color: transparent;
          color: $white;
        }
      }

      i:hover {
        cursor: pointer;
        color: $brand-secondary-dark;
      }

      input[type="submit"]:hover {
        cursor: pointer;
      }

      &:nth-child(2) input[type="text"] {
        width: 400px;
      }

      &:nth-child(3) input[type="text"] {
        width: 250px;
      }

      &:last-child {
        width: 200px !important;
      }
    }
  }
}