// Place all the styles related to the WellbeingMetrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

//Abysmal 1
.wba-score__1 {
  width:100%;
  background-color: #E04444;
}
//Dreadful 2
.wba-score__2 {
  width:100%;
  background-color: #E64D52;
}
//Rubbish 3
.wba-score__3{
  width:100%;
  background-color: #E86754;
}
//Bad 4
.wba-score__4 {
  width:100%;
  background-color: #EC8754;
}
//Mediocre 5
.wba-score__5 {
  width:100%;
  background-color: #F0A656;
}
//Fine 6
.wba-score__6 {
  width:100%;
  background-color: #DFC54C;
}
//Good 7
.wba-score__7 {
  width:100%;
  background-color: #BFCA48;
}
//Great 8
.wba-score__8 {
  width:100%;
  background-color: #9ECB46;
}
//Superb 9
.wba-score__9 {
  width:100%;
  background-color: #BFCB43;
}
//Perfect 10
.wba-score__10 {
  width:100%;
  background-color: #5DAD3A;
}

.wellbeing-metrics {
  &.index {
    .hidden {
      display: none !important;
    }

    td {
      input[type="text"] {
        background-color: $white;
        color: $black;
        text-align: center;
        border: none;
        height: 30px;
        border-radius: 5px;

        &[disabled=""] {
          background-color: transparent;
          color: $white;
        }
      }

      i:hover {
        cursor: pointer;
        color: $brand-secondary-dark;
      }

      input[type="submit"]:hover {
        cursor: pointer;
      }

      &:nth-child(2) input[type="text"] {
        width: 400px;
      }

      &:nth-child(3) input[type="text"] {
        width: 250px;
      }

      &:last-child {
        width: 200px !important;
      }
    }
  }
}