// Place all the styles related to the WbaSelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.wellbeing-assessments {
  &.index {
    section.row:first-child {
      .col {
        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    a {
      transition: 0.5s;

      &:hover {
        color: $brand-primary;
        background-color: $brand-secondary;
      }

      .sliders {
        font-size: 0.8rem;

        .row {
          margin-bottom: 0 !important;

          label {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .card-header {
      a {
        transition: 0.2s;

        &:hover {
          color: $brand-secondary;
          background-color: transparent;
        }
      }
    }
  }
}

section#wellbeing {
  background-color: $white;
  color: $black;

  .services, .sliders {
    margin-top: 1rem;

    @media screen and (min-width: $screen-md) {
      margin-top: 3rem;
    }
  }

  .chart {
    margin-top: 1rem;

    @media screen and (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  .sliders {
    .col-3, .col-9, .col-md-5 {
      &:first-child {
        text-align: left;
      }
    }

    .col-3.description-col {
      text-align: right;
      padding: 0;
      .description {
        font-family: $font-link;
        transition: all 0.5s;
      }
    }

    input {
      cursor: pointer;
    }
  }
}