// Place all the styles related to the WellbeingMetrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Abysmal 1
.wba-score__1 {
  width:100%;
  background-color: #E04444;
}
//Dreadful 2
.wba-score__2 {
  width:100%;
  background-color: #e66043;
}
//Rubbish 3
.wba-score__3{
  width:100%;
  background-color: #eb7945;
}
//Bad 4
.wba-score__4 {
  width:100%;
  background-color: #ee904b;
}
//Mediocre 5
.wba-score__5 {
  width:100%;
  background-color: #F0A656;
}
//Fine 6
.wba-score__6 {
  width:100%;
  background-color: #DFC54C;
}
//Good 7
.wba-score__7 {
  width:100%;
  background-color: #c1c041;
}
//Great 8
.wba-score__8 {
  width:100%;
  background-color: #a2ba3a;
}
//Superb 9
.wba-score__9 {
  width:100%;
  background-color: #82b438;
}
//Perfect 10
.wba-score__10 {
  width:100%;
  background-color: #5DAD3A;
}