// Place all the styles related to the users/appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";


section#upcoming {
  background-color: $white;
  color: $black;

  .cards {
    background: $brand-primary;
    text: $brand-primary;
  }

  .appointments, .past {
    margin-top: 1rem;

    @media screen and (min-width: $screen-md) {
      margin-top: 0;
    }
  }
}
