<% if local_assigns[:hide_sliders].present? && local_assigns[:hide_sliders] == true %>
  <div class="col-12 chart">
    <canvas class="wellbeing-chart" width="400" height="400"></canvas>
  </div>
<% else %>
  <div class="col-12 col-xl-6 chart">
    <canvas class="wellbeing-chart" width="400"></canvas>
  </div>
<% end %>
