<div class="col-12 chart <%= local_assigns[:hide_sliders].present? ? '' : 'col-xl-6' %>">
  <% if local_assigns[:chart_heading].present? %>
    <h3><%= local_assigns[:chart_heading] %></h3>
  <% end %>
  <canvas class="wellbeing-chart" width="400"
          height="<%= local_assigns[:height].present? ? local_assigns[:height] : '400' %>">
  </canvas>
</div>
