<div class="container wellbeing-chart wrapper">
  <div class="row">
    <% if local_assigns[:chart_alignment].present? && local_assigns[:chart_alignment] == 'left' %>
      <%= render 'shared/wellbeing_chart/wellbeing_chart', local_assigns: local_assigns %>
      <%= render 'shared/wellbeing_chart/sliders', local_assigns: local_assigns%>
    <% else %>
      <%= render 'shared/wellbeing_chart/sliders', local_assigns: local_assigns %>
      <%= render 'shared/wellbeing_chart/wellbeing_chart', local_assigns: local_assigns %>
    <% end %>
  </div>
</div>
