<div class="col">
  <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#newModal">
    <i class="fas fa-plus-circle"></i> Add Tag
  </button>
</div>
<%= render 'modals/add_tag' %>