<p>We're contacting you to notify you that your password has been changed.</p>

<p>If you did not make this change, please click the button below to change your password and secure your account.</p>

<div class="btn-container">
  <%= link_to 'Reset password', edit_team_member_registration_url %> 
</div>
