<!DOCTYPE html>
<html>
  <head>
    <title>Include Journey Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'mailer' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="webkit">
        <table class="outer">
          <tr>
            <td>
              <table class="inner">
                <tr>
                  <td class="banner">
                    <a href="http://localhost:3000">
                      <%= email_image_tag('banner.png') %>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="content">
                    <%= yield %>
                    <div class="signature">
                      <p>Best Regards,</p>
                      <p>The Include Team</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="footer">
                    <a href="https://include-uk.com/">
                      <%= email_image_tag('footer.png') %>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>        
      </div>
    </div>    
  </body>
</html>
